<div class="well">
  <button type="button" class="btn btn-outline-primary" (click)="fileSelected()">
    Exportera CSV-fil
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="savePdf()">Spara till PDF</button>
</div>

<div id="pdf">
  <div>
    <p><font size="3" color="red">print this to pdf</font></p>
  </div>
  <h1>Rubrik</h1>
  <h2>Tabell</h2>
  <table>
    <thead>
    <tr>
      <th>Kaka</th>
      <th>Banan</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>123</td>
      <td>456</td>
    </tr>
    </tbody>
  </table>
</div>
<hr>

<app-tri-state-switch></app-tri-state-switch>

<div class="container-fluid">
  <h1 class="display-4">Mina projekt</h1>
  <div *ngFor="let project of projects" class="card bg-light mb-3">
    <div class="card-header"><h2 class="display-6">{{project.name}}</h2></div>
    <div class="card-body">
      <div class="full-width">
        <table class="table">
          <thead>
          <tr>
            <th>Ansökan</th>
            <th>Ärende</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let application of project.applications">
            <td>
              <a href="javascript: void 0;">{{application.no}} <small class="text-muted">({{application.status}})</small></a>
            </td>
            <td>
              <a *ngIf="application.caze" href="javascript: void 0;">{{application.caze.no}} <small class="text-muted">({{application.caze.status}})</small></a>
              <span *ngIf="!application.caze">--</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="collapse">
        <ul class="list-group list-group-flush">
          <li *ngFor="let application of project.applications" class="list-group-item">
            <dl>
              <dt>Ansökan</dt>
              <dt>
                <a href="javascript: void 0;">{{application.no}}</a>
              </dt>
              <dt>Ärende</dt>
              <dt>
                <a href="javascript: void 0;">{{application.caze?.no}}</a>
              </dt>
            </dl>
          </li>
        </ul>
      </div>
    </div>
    <!--<p-table [value]="applications">-->
    <!--<ng-template pTemplate="header">-->
    <!--<tr>-->
    <!--<th>Ansökan</th>-->
    <!--<th>Ärende</th>-->
    <!--</tr>-->
    <!--</ng-template>-->
    <!--<ng-template pTemplate="body" let-application>-->
    <!--<tr>-->
    <!--<td><button type="button" class="btn btn-link">{{application.no}}</button></td>-->
    <!--<td><button type="button" class="btn btn-link">{{application.case?.no}}</button></td>-->
    <!--</tr>-->
    <!--</ng-template>-->
    <!--</p-table>-->
  </div>
</div>
